* {
    margin: 0;
}

body {
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font {
    font-family: 'Figtree', sans-serif;
}

.card {
    background-color: white;
    width: 300px;
    height: 410px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 10px;

    .card-image {
        display: flex;
        padding: 15px;
    }

    .card-image img{
        width: 100%;
        border-radius: 10px;
    }

    .left {
        margin-right: auto;
        margin-left: 15px;
    }

   button {
    padding: 7px;
    background-color: hsl(47, 88%, 63%);
    border: none;
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
   }

   p {
    margin-top: 3px;
    font-size: 13px;
    font-weight: 500;
   }

   h3 {
    font-weight: 800;
   }

   .grey {
    color: gray;
   }
}